#pageone{
background-color: white;
}
#title{
	text-align: center; 
	font: 35px verdana, sans-serif;
}
a {text-decoration: none; }
#main{
	text-align: left; 
	font: 25px verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 90%;
	height: 40%;
	overflow:auto;
}
#social{
	width: 200px;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
#text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.media{
	height: 32px;
	width: 32px;
	padding: 10px; 
}
#myPanel{
	background-color:pink;
}
#openPanel{
	position:absolute;
	top:-10px;
}
