
a {text-decoration: none; }
#main{
	text-align: center; 
	font: 25px verdana, sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	width: 90%;
	height: 70%;
	padding-right: 15px;
	
}
#social{
width: 200px;
margin-right: auto;
margin-left: auto;
}
.media{
height: 32px;
width: 32px;
padding: 10px; 
}

