
#collectorArea{
    float: left;
    display: inline-block;
}
#participantArea{
    float: left;
    display: inline-block;
}
#chartArea{
    float: left;
    display: inline-block;
}
#ratioArea{
    margin: auto;
    float: left;
    display: inline-block;
}
#groupArea{
    float: left;
    display: inline-block;
}
#teamArea{
    float: left;
    display: inline-block;
}

#jbArea, #jdArea, #cgArea,  #statsArea, #swapsArea{
    font-family: "Lucida Console", monospace;
    text-align: left;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  #jbArea, #jdArea, #cgArea {
    font-size: 1vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 #jbArea, #jdArea, #cgArea {
    font-size: 12px;
  }
}
#jbArea{
  color:red;
  float: left;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
#jdArea{
  color:#f6ab1d;
  float: left;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
#cgArea{
  color:blue;
  float: left;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
