a{
  text-decoration:none
}
html{
    padding-bottom: 100px;
}
body {
    background: linear-gradient(rgba(255,255,255,0.87), rgba(255,255,255,0.87)),url("bg.jpg");
}

#collectorArea, #participantArea{
    width: 100%;
    display: inline-block;
    float: left;

}
#chartArea, #ratioArea, #radarArea,
#groupArea,
#teamArea,
#theStatArea, #colStatArea{
    float: left;
    display: inline-block;
}

#jbc,#jbd,#jbs,
#jdc,#jdd,#jds,
#cgc,#cgd,#cgs,
#clc,#cld,#cls,
#rbc,#rbd,#rbs,
#adc,#add,#ads,
#jbjb, #jbjd, #jbcg,#jbrb,#jbad,
#jdjb, #jdcg, #jdjd,#jdrb,#jdad,
#cgjb, #cgjd, #cgcg,#cgrb,#cgad,
#rbjb, #rbcg, #rbjd,#rbrb,#rbad,
#adjb, #adcg, #adjd,#adrb,#adad,
#colStatArea{
  text-align: right;
}

#jbjb, #jdjd, #cgcg, #rbrb, #adad{
  color: #8e8d8d
}

#jbArea, #jdArea, #cgArea,#rbArea,  #adArea, #statsArea, #swapsArea, #colStatArea, #theStatArea{
    font-family: "Lucida Console", monospace;
    text-align: left;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  #jbArea, #jdArea, #cgArea,#rbArea,#adArea{
    font-size: 9px;
  }
   #statsArea, #swapsArea{
       padding-top: 10px;
   }
  #ratioArea,
  #teamArea, #radarArea,
  #statsArea, #swapsArea, #chartArea,
  #groupArea,
  #theStatArea, #colStatArea{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 #jbArea, #jdArea, #cgArea,#rbArea,#adArea,
 #theStatArea, #colStatArea {
    font-size: 14px;
  }


}
#jbArea{
  color:red;
  float: left;
  display: inline-block;
  margin: 5px;
}
#jdArea{
  color:#f6ab1d;
  float: left;
  display: inline-block;
 margin: 5px;
}
#cgArea{
  color:blue;
  float: left;
  display: inline-block;
 margin: 5px;
}
#rbArea{
  color:purple;
  float: left;
  display: inline-block;
  margin: 5px;
}
#adArea{
  color:#3bd33d;
  float: left;
  display: inline-block;
  margin: 5px;
}
